@import "explanation.css";
.fill-altitude {
  fill: #000;
  color: #000;
}
.fill-temperature {
  fill: #00f;
  color: #00f;
}
.fill-relative-pressure {
  fill: #f00;
  color: #f00;
}
.fill-relative-density {
  fill: #008000;
  color: #008000;
}
