@import "explanation.css"

altitude = black
temperature = blue
relative-pressure = red
relative-density = green

.fill-altitude
  fill altitude
  color altitude

.fill-temperature
  fill temperature
  color temperature

.fill-relative-pressure
  fill relative-pressure
  color relative-pressure

.fill-relative-density
  fill relative-density
  color relative-density
