
.explanation
  overflow hidden
  // use MathJax if you got it
  font-family MathJax_Main

  tspan.variable
    font-style italic

  .slider
    margin-top 10px

    .handle
      text
        font-weight bold

        &.temperature
          fill white

      circle
        fill transparent
        stroke black
        stroke-width 2px

  svg
    .label
      font-size 32px

      .unit
        fill #777

    .axis
      line, path
        fill none
        stroke #999
        shape-rendering crispEdges
      text
        font-size 16px
        text-anchor middle

    .interactive
      path, circle
        stroke black !important
        stroke-width 4px

    .plots
      path
        fill none
        stroke-width 2px
      .bg
        fill transparent
      .solution
        fill none
      .wien path
        stroke-width 6px !important
        stroke #900
      .scanline path
        stroke #999
      .solutions
        .legend
          text
            fill #333
