doctype html
html(lang="en")
  head
    meta(charset="utf-8")

    style: :stylus
      @import "./fresnel.css"
      @import "./standalone.css"
        
    include ./lib/mathjax.jade


  body
    .titles
      .title
        h1 Fresnel Functions
        .equation.
    .explanation

    script(src="./bower_components/requirejs/require.js")
    script
      :coffee
        require ["./bower_components/d3/d3.js", "./fresnel.js"],
          (d3, Fresnel) ->
            fresnel = Fresnel d3
            plot = d3.select ".explanation"
              .call fresnel
