doctype html
html(lang="en")
  head
    meta(charset="utf-8")

    style: :stylus
      h1, h2
        text-align center
      
      .screenshots
        display flex

        a
          flex auto
          height 300px
          width 33vw
          background-size cover
      
    include ./lib/mathjax.jade
    
  body
    h1 An Infrared Primer
    blockquote.
      Visual explorations of key concepts in the infrared spectrum
    
    .screenshots
      each exp in ["temperatures", "wavelengths", "planck", "fresnel", "density"]
        a(href="./" + exp + ".html"
          style="background-image: url('screenshots/" + exp+".png')")
    
    h2 
      a(href="./An IR Primer.slides.local.html") IPython Notebook Integration
        
