doctype html
html(lang="en")
  head
    meta(charset="utf-8")

    style: :stylus
      @import "./planck.css"
      @import "./standalone.css"
      .title.wien
        left inherit
        right 15%
        h1
          color #900
        
    include ./lib/mathjax.jade


  body
    .titles
      .title
        h1 Planck's Law
        blockquote
          :markdown
            The EM modes exist with only discrete energies that are multiples
            of $hv$, where $h$ is Planck's constant and $v$ is frequency.
        .equation.
          $$
          I(\lambda,T) =
          \frac{2 hc^2}{\lambda^5}\frac{1}{ e^{\frac{hc}{\lambda kT}}-1}
          $$
      .title.wien
        h1 Wien's Law
        blockquote
          :markdown
            It can be shown that the wavelength maximum for any temperature is
        .equation.
          $${\lambda{max}}{\cdot}{T}=2898{\mu}m-K$$
          
    .explanation

    script(src="./bower_components/requirejs/require.js")
    script
      :coffee
        require ["./bower_components/d3/d3.js", "./planck.js"], (d3, Planck) ->
          planck = Planck d3
          plot = d3.select ".explanation"
            .call planck
