doctype html
html(lang="en")
  head
    meta(charset="utf-8")

    style: :stylus
      @import "./fresnel.css"
      @import "./standalone.css"
        
    include ./lib/mathjax.jade


  body
    .titles
      .title
        h1 Refraction
        blockquote
          :markdown
            TBD
        .equation.
    
    .explanation

    script(src="./bower_components/requirejs/require.js")
    script
      :coffee
        require ["./bower_components/d3/d3.js", "./refraction.js"],
          (d3, Refraction) ->
            refraction = Refraction d3
            plot = d3.select ".explanation"
              .call refraction
