body
  overflow hidden
  margin 0
  padding 0
  font-family "MathJax_Main"

.titles
  display flex

  .title
    flex 1
    text-align center

    blockquote
      text-align justify

    &.wien h1
      color #900

    .equation
      font-size 150%

.explanation
  position absolute
  left 0
  right 0
  bottom 0
  top 200px
