doctype html
html(lang="en")
  head
    meta(charset="utf-8")

    style: :stylus
      @import "./temperatures.css"
      @import "./standalone.css"
        
    include ./lib/mathjax.jade


  body
    .titles
      .title
        h1 Celsius
        blockquote
          :markdown
            TBD
        .equation.
          $$
          K = C+273.15
          $$
      .title
        h1 Fahrenheit
        blockquote
          :markdown
            TBD
        .equation.
          $$
          K=(F+459.67)\times\frac{5}{9}
          $$
      .title
        h1 Rankine
        blockquote
          :markdown
            TBD
        .equation.
          $$
          K=R\times\frac{5}{9}
          $$
    .explanation

    script(src="./bower_components/requirejs/require.js")
    script
      :coffee
        require ["./bower_components/d3/d3.js", "./temperatures.js"],
          (d3, Temperatures) ->
            temperatures = Temperatures d3
            plot = d3.select ".explanation"
              .call temperatures
