@import "explanation.css"

rankine = blue
fahrenheit = red
celsius = green
kelvin = black

.fill-rankine
  fill rankine
  color rankine
.stroke-rankine
  stroke rankine

.fill-fahrenheit
  fill fahrenheit
  color fahrenheit
.stroke-fahrenheit
  stroke fahrenheit

.fill-celsius
  fill celsius
  color celsius
.stroke-celsius
  stroke celsius

.fill-kelvin
  fill kelvin
  color kelvin
.stroke-kelvin
  stroke kelvin
