doctype html
html(lang="en")
  head
    meta(charset="utf-8")

    style: :stylus
      @import "./wavelengths.css"
      @import "./standalone.css"
    include ./lib/mathjax.jade


  body
    .titles
      .title.fill-wavenumber
        h1 Wavenumber
        .equation.
          \definecolor{other}{RGB}{100,100,100}
          \definecolor{wavenumber}{RGB}{0,150,0}
          \definecolor{wavelength}{RGB}{0,0,0}

          \color{wavenumber}<%= W %>
          \color{other} = \frac{1000}{\color{wavelength}<%= Mu %>}

      .title.fill-energy-ev
        h1 Energy [eV]
        .equation.
          \definecolor{other}{RGB}{100,100,100}
          \definecolor{ev}{RGB}{255,0,0}
          \definecolor{wavelength}{RGB}{0,0,0}

          \color{ev}<%= Ev %>
          \color{other}
          = 4.136 \times 10^{-15}
          \times
          <%= c %>
          \times
          \color{other} \frac{1e6}{\color{wavelength}<%= Mu %>}

      .title.fill-energy-j
        h1 Energy [J]
        .equation.
          \definecolor{other}{RGB}{100,100,100}
          \definecolor{j}{RGB}{0,0,255}
          \definecolor{wavelength}{RGB}{0,0,0}

          \color{j}<%= J %>
          \color{other}
          = 6.63 \times 10^{-34}
          \times
          <%= c %>
          \times
          \color{other} \frac{1e6}{\color{wavelength}<%= Mu %>}

      .title.fill-frequency
        h1 Frequency [THz]
        .equation.
          \definecolor{other}{RGB}{100,100,100}
          \definecolor{frequency}{RGB}{128, 0, 128}
          \definecolor{wavelength}{RGB}{0,0,0}

          \color{frequency}<%= Fq %>
          \color{other}
          = <%= c %>
          \div
          \color{wavelength}<%= Mu %>
          \color{other}
          \div
          10^6
          
    .explanation

    script(src="./bower_components/requirejs/require.js")
    script
      :coffee
        require ["./bower_components/d3/d3.js", "./wavelengths.js", "fn.js"],
          (d3, Wavelengths, Fn) ->
            wavelengths = Wavelengths d3

            fn = Fn d3, MathJax
              .replacements
                W: "W"
                Ev: "E"
                Mu: "µ"
                J: "J"
                Fq: "Fq"
                c: "c"

            eq = d3.selectAll ".equation"
              .call fn

            plot = d3.select ".explanation"
              .call wavelengths
