@import "explanation.css"
@import "explanation.css"

wavenumber = green
energy-ev = red
frequency = purple
energy-j = blue

.fill-wavenumber
  fill wavenumber
  color wavenumber

.fill-energy-ev
  fill energy-ev
  color energy-ev

.fill-frequency
  fill frequency
  color frequency

.fill-energy-j
  fill energy-j
  color energy-j
