doctype html
html(lang="en")
  head
    meta(charset="utf-8")

    style: :stylus
      @import "./wavelengths.css"
      @import "./standalone.css"
    include ./lib/mathjax.jade


  body
    .titles
      .title
        h1 Wavelengths
        blockquote
          :markdown
            TBD
        .equation.
    .explanation

    script(src="./bower_components/requirejs/require.js")
    script
      :coffee
        require ["./bower_components/d3/d3.js", "./wavelengths.js"],
          (d3, Wavelengths) ->
            wavelengths = Wavelengths d3
            
            plot = d3.select ".explanation"
              .call wavelengths
