doctype html
html(lang="en")
  head
    meta(charset="utf-8")

    style: :stylus
      @import "./wavelengths.css"
      @import "./standalone.css"
      .title
        &.wavenumber
          color purple
        &.energy.ev
          color red
        &.energy.joule
          color blue
    include ./lib/mathjax.jade


  body
    .titles
      .title.wavenumber
        h1 Wavenumber
        .equation.

      .title.energy.ev
        h1 Energy [eV]
        .equation.

      .title.energy.joule
        h1 Energy [J]
        .equation.

      .title
        h1 Frequency
        .equation.
    .explanation

    script(src="./bower_components/requirejs/require.js")
    script
      :coffee
        require ["./bower_components/d3/d3.js", "./wavelengths.js"],
          (d3, Wavelengths) ->
            wavelengths = Wavelengths d3

            plot = d3.select ".explanation"
              .call wavelengths
